a {
  color: rgba( 255, 255, 255, 1);
	width: 0;
}



h1 {
	font-size: 32px;
}

@mixin if-else($var) {
	@if ($var) {
		width: 100%;
	}

	@else {
		background: #fff;
	}
}

button {
	color: red;
	div {
		height: 0;
		span {
			width: 30px;
			button {
				width: 30px;
			}
		}
	}
}
